h1{
    text-align: center;
    font-size: 60px;
}

#cs{

    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

p{
    text-align: center;
    margin-top: 60px;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

body{

    background-image: url("images/examsheet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    border: none; /* Remove the border */
    background-color: black; /* Set the background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Add some padding to the button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Show a pointer cursor on hover */
    border-radius: 5px; /* Optional: Rounded corners */
    outline: none; /* Remove the outline when focused (optional, but useful for accessibility) */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect */
  button:hover {
    background-color: #2980b9; /* Darker background on hover */
    transform: scale(1.1); /* Slightly increase the size on hover */
  }
  